In [14]:
# Import the relevant libraries
from __future__ import division
import pandas as pd
import json
import time
from datetime import datetime, timedelta
import os
import folium
import csv

In [15]:
# working on a one file data
folder="./data/crowdsource-internal/"

# msisdn ='6588769918'
log1 ='6588769918_20170210_210100.log'#for exploring only

log2 ='6588769918_20170210_220100.log'

In [16]:
f = open(os.path.join(folder,log1))
data1=json.load(f)
f.close()

In [17]:
f = open(os.path.join(folder,log2))
data2=json.load(f)
f.close()

In [18]:
data_key =data1.keys()
data_key

[u'msisdn',
 u'locations',
 u'appver',
 u'osver',
 u'model',
 u'trips',
 u'manufacturer']

In [19]:
data1['msisdn']

u'6588769918'

In [20]:
data1['locations'][:2]

[{u'acc': u'22.817',
  u'cid': u'20483393',
  u'lat': u'1.4042991',
  u'lon': u'103.9053817',
  u'signal': u'-93',
  u'ts': u'1486756802106'},
 {u'acc': u'46.0',
  u'cid': u'20483393',
  u'lat': u'1.4041914',
  u'lon': u'103.9054802',
  u'signal': u'-93',
  u'ts': u'1486756805146'}]

In [21]:
# Preprosessing the epoch time
def convert_epoch_time(t):
    # Convert epoch time to utc time
    # PARAMS: t is the epoch time either in seconds or milliseconds. Type : str
    # Output : t in datetime.datetime format


    if len(t)> 12: # t is in milliseconds
        date_time = time.gmtime(int(t)/1000)
    else:
        date_time = time.gmtime(int(t))
        
    # convert to datetime.datetime format
    return datetime(*date_time[:6])

In [24]:
# Testing to convert epoch time
x='1486756802106' #in milliseconds

print convert_epoch_time(x)

2017-02-10 20:00:02

In [27]:
df_details1 = pd.DataFrame.from_records(data1['locations'],index='ts')
#print df_details[:4]
# Convert the index of the dataframe to datetime.datetime format

df_details1.index = df_details1.index.map(convert_epoch_time)

df_details1[:5]

                        acc       cid        lat          lon signal
2017-02-10 20:00:02  22.817  20483393  1.4042991  103.9053817    -93
2017-02-10 20:00:05    46.0  20483393  1.4041914  103.9054802    -93
2017-02-10 20:00:22  22.824  20483393  1.4042991  103.9053817    -93
2017-02-10 20:00:24    30.0  20483393  1.4041913    103.90548    -93
2017-02-10 20:00:42   22.84  20483393  1.4042991  103.9053817    -93

In [35]:
# add the other columns to the dataframe

In [28]:
df_details2 = pd.DataFrame.from_records(data2['locations'],index='ts')
#print df_details[:4]
# Convert the index of the dataframe to datetime.datetime format

df_details2.index = df_details2.index.map(convert_epoch_time)

df_details2[:5]

                        acc       cid        lat          lon signal
2017-02-10 21:00:05  22.816  20483393  1.4042991  103.9053817    -93
2017-02-10 21:00:15    58.0  20483393  1.4040958  103.9055678    -93
2017-02-10 21:00:19  22.821  20483393  1.4042991  103.9053817    -93
2017-02-10 21:00:32    63.0  20483393  1.4040994  103.9055713    -93
2017-02-10 21:00:35  22.823  20483393  1.4042991  103.9053817    -93

In [29]:
#combine both the dataframes
df_details1.append(df_details2)

                        acc       cid        lat          lon signal
2017-02-10 20:00:02  22.817  20483393  1.4042991  103.9053817    -93
2017-02-10 20:00:05    46.0  20483393  1.4041914  103.9054802    -93
2017-02-10 20:00:22  22.824  20483393  1.4042991  103.9053817    -93
2017-02-10 20:00:24    30.0  20483393  1.4041913    103.90548    -93
2017-02-10 20:00:42   22.84  20483393  1.4042991  103.9053817    -93
2017-02-10 20:01:01    75.0  20483393  1.4041913  103.9054802    -93
2017-02-10 20:01:36  22.828  20483393  1.4042986  103.9054723    -93
2017-02-10 20:01:38    30.0  20483393  1.4041916  103.9054802    -93
2017-02-10 20:01:55  22.053  20483393  1.4042986  103.9054723    -93
2017-02-10 20:02:03    48.0  20483393  1.4041916  103.9054801    -93
2017-02-10 20:02:15  22.056  20483393  1.4042986  103.9054723    -93
2017-02-10 20:02:17    49.0  20483393  1.4041916  103.9054801    -93
2017-02-10 20:02:32  22.822  20483393  1.4042991  103.9053817    -93
2017-02-10 20:02:43    74.0  20483393  1.4041912  103.9054801    -93
2017-02-10 20:02:57    96.0  20483393  1.4042991  103.9053817    -93
2017-02-10 20:02:59    28.0  20483393  1.4041899  103.9054797    -93
2017-02-10 20:03:17   22.84  20483393  1.4042991  103.9053817    -93
2017-02-10 20:03:23    56.0  20483393  1.4041893  103.9054795    -93
2017-02-10 20:03:43  22.842  20483393  1.4042991  103.9053817    -93
2017-02-10 20:03:47    39.0  20483393  1.4041879  103.9054791    -93
2017-02-10 20:04:02   22.83  20483393  1.4042991  103.9053817    -93
2017-02-10 20:04:03    61.0  20483393  1.4041877   103.905479    -93
2017-02-10 20:04:07  22.064  20483393  1.4043724  103.9053817    -93
2017-02-10 20:04:09    45.0  20483393  1.4041877   103.905479    -93
2017-02-10 20:05:12  22.043  20483393  1.4042991  103.9053817    -93
2017-02-10 20:05:15    19.0  20483393  1.4041845  103.9054779    -93
2017-02-10 20:05:32  22.058  20483393  1.4042991  103.9053817    -93
2017-02-10 20:05:37    48.0  20483393  1.4041837  103.9054777    -93
2017-02-10 20:05:52  22.067  20483393  1.4042986  103.9054723    -93
2017-02-10 20:05:57    47.0  20483393   1.404182  103.9054777    -93
...                     ...       ...        ...          ...    ...
2017-02-10 21:37:01    96.0  20483393  1.4042991  103.9053817    -93
2017-02-10 21:37:35  22.075  20483393  1.4042986  103.9054723    -93
2017-02-10 21:37:41    96.0  20483393  1.4042991  103.9053817    -93
2017-02-10 21:38:10  23.648  20483393  1.4042616  103.9055177    -93
2017-02-10 21:38:29  23.276  20483393  1.4042258  103.9053817    -93
2017-02-10 21:40:38  21.889  20483393  1.4043355   103.905427    -93
2017-02-10 21:42:46    96.0  20483393  1.4042258  103.9053817    -93
2017-02-10 21:46:33  22.034  20483393  1.4042986  103.9054723    -93
2017-02-10 21:46:48  22.056  20483393  1.4042991  103.9053817    -93
2017-02-10 21:52:30   22.85  20483393  1.4042986  103.9054723    -93
2017-02-10 21:52:35  22.061  20483393  1.4042991  103.9053817    -93
2017-02-10 21:53:00  22.075  20483393  1.4042986  103.9054723    -93
2017-02-10 21:53:55  23.296  20483393  1.4042258  103.9053817    -93
2017-02-10 21:55:41  22.046  20483393  1.4042986  103.9054723    -93
2017-02-10 21:55:44    59.0  20483393  1.4041675  103.9054116    -93
2017-02-10 21:56:46  22.823  20483393  1.4042991  103.9053817    -93
2017-02-10 21:56:48    46.0  20483393  1.4041632  103.9054102    -93
2017-02-10 21:57:26   22.01  20483393  1.4042991  103.9053817    -93
2017-02-10 21:57:33    54.0  20483393  1.4041623  103.9054098    -93
2017-02-10 21:58:12  22.816  20483393  1.4042991  103.9053817    -93
2017-02-10 21:58:14    28.0  20483393  1.4041626  103.9054099    -93
2017-02-10 21:58:32  22.816  20483393  1.4042991  103.9053817    -93
2017-02-10 21:58:33    26.0  20483393  1.4041624  103.9054098    -93
2017-02-10 21:58:53  22.038  20483393  1.4042991  103.9053817    -93
2017-02-10 21:58:56    42.0  20483393  1.4041624  103.9054098    -93
2017-02-10 21:59:15    96.0  20483393  1.4042991  103.9053817    -93
2017-02-10 21:59:18    45.0  20483393  1.4041624  103.9054097    -93
2017-02-10 21:59:35  22.833  20483393  1.4042991  103.9053817    -93
2017-02-10 21:59:38    40.0  20483393  1.4041623  103.9054095    -93
2017-02-10 21:59:55  22.822  20483393  1.4042991  103.9053817    -93

[563 rows x 5 columns]

In [34]:
for x in data_key[2:]:
    print x
    print data1[x]
    print '_______'

appver
1.0
_______
osver
4.4.4
_______
model
R7f
_______
trips
[]
_______
manufacturer
OPPO
_______

In [33]:
folder ='./data/crowdsource-internal/'
os.listdir(folder)[:10]

['650000000000009_20170209_100100.log',
 '650000000000009_20170209_140136.log',
 '65111111_20170213_180944.log',
 '6581817105_20170210_130100.log',
 '6581817105_20170210_180349.log',
 '6581817105_20170210_220348.log',
 '6581817105_20170211_070104.log',
 '6581817105_20170211_090348.log',
 '6581817105_20170211_110347.log',
 '6581817105_20170211_130100.log']